<%= bootstrap_form_for User.new, remote: true do |f| %>
  <p>
    <%= f.text_field :first_name, label: "First Name:" %>
  </p>
  <p>
    <%= f.text_field :last_name, label: "Last Name:" %>
  </p>
  <p>
    <%= f.text_field :email, label: "Email:" %>
  </p>
  <%= f.submit "Connect", :class => "btn btn-success" %>
  <span class="form-privacy hidden-xs">Don't worry, we won't share your email with anyone.</span>
<% end %>
</div>
<div class="visible-xs form-privacy"><span class="form-privacy">Don't worry, we won't share your email with anyone.</span></div>